p {
	font-family: sans-serif;
}

h1, h2 {
	border-bottom: 1px solid lightgray;
	width: 66%;
}

h3, h4 {
	font-family: sans-serif;
}

aside {
	width: 33%;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	font-style: italic;
	text-align: center;
	outline-style: solid;
	outline-width: 2px;
	outline-color: lightgray;
}

.Contents {
	font-family: sans-serif;
	display: table;
	list-style-type: none; /* Remove bullets */
	padding: 2px; /* Remove padding */
	margin: 10px; /* Remove margins */
	outline-style: solid;
	outline-width: 2px;
	outline-color: lightgray;
}

.Contents li::before {
	content: "# ";
}

@font-face {
	font-family: msgothic;
	src: url(/assets/fonts/msgothic.ttf);
}

pre {
	tab-size: 8;
	font-family: msgothic;
	line-height: .8;
}

.r {
	font-family: serif;
}
